.grid-container {
  display: grid;
  grid-template-columns: 20em 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    'sidenav header'
    'sidenav main'
    'sidenav footer';
  height: 100vh;
}

.header {
  grid-area: header;
}

.sidenav {
  display: flex;
  flex-direction: column;
  grid-area: sidenav;
}

.sidenav-list {
  padding: 10px;
  margin-top: 85px;
  list-style-type: none;
}

.sidenav-list-item {
  @apply hover:rounded-lg hover:bg-red-500/60;
  cursor: pointer;
  padding: 20px;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
