.grid-container {
  display: grid;
  grid-template-columns: 15em 1fr;
  grid-template-rows: 6em 1fr;
  grid-template-areas:
    'sidenav header'
    'sidenav main';
  height: 100vh;
}

.header {
  grid-area: header;
}

.sidenav {
  grid-area: sidenav;
}

.main {
  grid-area: main;
}
