.grid-container {
  display: grid;
  grid-template-columns: 15em 1fr;
  grid-template-rows: 4rem 10fr;
  grid-template-areas:
    'sidenav header'
    'sidenav main';
  width: 100vw;
  height: 100vh;
}

.header {
  grid-area: header;
}

.sidenav {
  grid-area: sidenav;
}

.main {
  grid-area: main;
}
