.grid-container {
  display: grid;
  grid-template-columns: 14rem 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'sidenav main';
  width: 100vw;
  height: 100vh;
}

.sidenav {
  grid-area: sidenav;
}

.main {
  grid-area: main;
}
